.results {
  box-shadow: var(--default-drop-shadow) !important;
  border: var(--default-border) !important;

  padding: 30px !important;
  border-radius: 15px !important;
  width: clamp(200px, 80vw, 400px) !important;
  overflow: auto;
}

.message {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
}

.noShadow {
  box-shadow: none !important;
}
