.QueryForm {
  box-shadow: var(--default-drop-shadow);
  border: var(--default-border) !important;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 30px;
  width: clamp(200px, 80vw, 400px) !important;
}
